{% extends "master_blueprint/base.html" %}

{% import "components/macros.html" as components %}

{% block head %}

{% endblock %}

{% block content %}
  <!-- Header -->
  {{ components.render_header(user=session['name'], role=session['role']) }}

  <main style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  ">
    <div class="error-conatiner">
      <h1 class="error-title">401</h1>
      <p class="error-message">You are not logged in!<br><a href="{{ url_for('website.explore') }}">Go Back</a> to whence you came from...</p>
    </div>
  </main>

  <!-- Footer -->
  {{ components.render_footer() }}
{% endblock %}