{% macro render_header(user=None, role=None) %}
<header>
    <div class="logo">
        <a href="{{ url_for('website.explore') }}">UNIGEAR</a>
    </div>

    <div class="nav-links">
        {% if user %}
            {% if role == "seller" %}
                <a href="{{ url_for('seller.my_orders') }}">Dashboard</a>
            {% else %}
                <a href="{{ url_for('user.my_orders') }}">My Orders</a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
            <a href="{{ url_for('auth.sign_in') }}">Log In</a>
        {% endif %}
    </div>
</header>
{% endmacro %}

{% macro render_footer() %}
<footer>
    <div class="footer-links">
        <a href="#">Returns</a>
        <a href="#">Cart</a>
        <a href="#">Support</a>
    </div>
    <div class="social-media">
        <span class="follow-us">FOLLOW US</span>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
              <path d="M2 18.5C3.76504 19.521 5.81428 20 8 20C14.4808 20 19.7617 14.8625 19.9922 8.43797L22 4.5L18.6458 5C17.9407 4.37764 17.0144 4 16 4C13.4276 4 11.5007 6.51734 12.1209 8.98003C8.56784 9.20927 5.34867 7.0213 3.48693 4.10523C2.25147 8.30185 3.39629 13.3561 6.5 16.4705C6.5 17.647 3.5 18.3488 2 18.5Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
            </svg>
          </a>
                  <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.18182 10.3333C5.20406 10.3333 5 10.5252 5 11.4444V13.1111C5 14.0304 5.20406 14.2222 6.18182 14.2222H8.54545V20.8889C8.54545 21.8081 8.74951 22 9.72727 22H12.0909C13.0687 22 13.2727 21.8081 13.2727 20.8889V14.2222H15.9267C16.6683 14.2222 16.8594 14.0867 17.0631 13.4164L17.5696 11.7497C17.9185 10.6014 17.7035 10.3333 16.4332 10.3333H13.2727V7.55556C13.2727 6.94191 13.8018 6.44444 14.4545 6.44444H17.8182C18.7959 6.44444 19 6.25259 19 5.33333V3.11111C19 2.19185 18.7959 2 17.8182 2H14.4545C11.191 2 8.54545 4.48731 8.54545 7.55556V10.3333H6.18182Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
            </svg>
          </a>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#ffffff" fill="none">
              <path d="M2.5 12C2.5 7.52166 2.5 5.28249 3.89124 3.89124C5.28249 2.5 7.52166 2.5 12 2.5C16.4783 2.5 18.7175 2.5 20.1088 3.89124C21.5 5.28249 21.5 7.52166 21.5 12C21.5 16.4783 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4783 2.5 12Z" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" />
              <path d="M16.5 12C16.5 14.4853 14.4853 16.5 12 16.5C9.51472 16.5 7.5 14.4853 7.5 12C7.5 9.51472 9.51472 7.5 12 7.5C14.4853 7.5 16.5 9.51472 16.5 12Z" stroke="currentColor" stroke-width="1.5" />
              <path d="M17.5078 6.5L17.4988 6.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </a>
              </div>
</footer>
{% endmacro %}

{% macro render_alerts() %}
<div class="alert-container absolute">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {% if category == "danger" %}
            <strong>Danger!</strong>
        {% elif category == "warning" %}
            <strong>Warning!</strong>
        {% elif category == "info" %}
            <strong>Info!</strong>
        {% elif category == "success" %}
            <strong>Success!</strong>
        {% else %}
            <strong>%NULL%</strong>
        {% endif %}
        {{ message }}
        </div>
    {% endfor %}   
    {% endif %}
{% endwith %}
</div>
{% endmacro %}

{% macro render_aside(role=None) %}
<aside>
    <div class="aside__tools" href="#">
        {% if role == "seller" %}
            <a class="aside__links" href="{{ url_for('seller.my_products') }}" {% if request.path == url_for('seller.my_products') %}visit{% endif %}>
                <img src="{{ url_for('static', filename='images/sale-tag-01-stroke-rounded.svg') }}" alt="My Products Logo">
                <p>My Products</p>
            </a>
            <a class="aside__links" href="{{ url_for('seller.my_orders') }}" {% if request.path == url_for('seller.my_orders') %}visit{% endif %}>
                <img src="{{ url_for('static', filename='images/container-truck-02-stroke-rounded.svg') }}" alt="Orders Logo">
                <p>Orders</p>
            </a>
        {% else %}
            <a class="aside__links" href="{{ url_for('user.my_orders') }}" {% if request.path == url_for('user.my_orders') %}visit{% endif %}>
                <img src="{{ url_for('static', filename='images/container-truck-02-stroke-rounded.svg') }}" alt="Orders Logo">
                <p>My Orders</p>
            </a>
            <a class="aside__links" href="{{ url_for('website.wishlist') }}" visit>
                <img src="{{ url_for('static', filename='images/heart-add.svg') }}" alt="Wishlist Logo">
                <p>My Wishlist</p>
            </a>
            
        {% endif %}
    </div>
    <div class="aside__account">
        {% if role == "seller" %}
        <a class="aside__links"> 
            <img src="{{ url_for('static', filename='images/students-stroke-rounded.svg') }}" alt="College Logo">
            <p>College: {{ session['org_id'] }}</p>
        </a>
        {% endif %}
        <hr />
        <a class="aside__links" href="{{ url_for('user.profile' if session['role'] == 'user' else 'seller.profile') }}" {% if request.path == url_for('user.profile') or request.path == url_for('seller.profile') %}visit{% endif %}   >
            <img src="{{ url_for('static', filename='images/user-circle-stroke-rounded.svg') }}" alt="Profile">
            <div class="aside__account-info">
                <p class="aside__account-info-title">Account</p>
                <p class="aside__account-info-email">{{ session['email'] }}</p>
            </div>
        </a>        
    </div>
</aside>
{% endmacro %}