{% macro render_header(user=None, role=None) %}
<header>
    <div class="logo">
        <a href="{{ url_for('website.explore') }}">UNIGEAR</a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="submit"><i class="search-icon">🔍</i></button>
    </div>
    <div class="nav-links">
        {% if user %}
            {% if role == "seller" %}
                <a href="{{ url_for('seller.my_orders') }}">Dashboard</a>
            {% else %}
                <a href="{{ url_for('user.my_orders') }}">My Orders</a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <a href="{{ url_for('auth.sign_up') }}">Sign Up</a>
            <a href="{{ url_for('auth.sign_in') }}">Log In</a>
        {% endif %}
    </div>
</header>
{% endmacro %}

{% macro render_footer() %}
<footer>
    <div class="footer-links">
        <a href="#">Returns</a>
        <a href="#">Cart</a>
        <a href="#">Support</a>
    </div>
    <div class="social-media">
        <span class="follow-us">FOLLOW US</span>
        <a href="#"><i class="social-icon">🐦</i></a> <!-- Twitter Icon -->
        <a href="#"><i class="social-icon">📘</i></a> <!-- Facebook Icon -->
        <a href="#"><i class="social-icon">📷</i></a> <!-- Instagram Icon -->
    </div>
</footer>
{% endmacro %}

{% macro render_alerts() %}
<div class="alert-container absolute">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {% if category == "danger" %}
            <strong>Danger!</strong>
        {% elif category == "warning" %}
            <strong>Warning!</strong>
        {% elif category == "info" %}
            <strong>Info!</strong>
        {% elif category == "success" %}
            <strong>Success!</strong>
        {% else %}
            <strong>%NULL%</strong>
        {% endif %}
        {{ message }}
        </div>
    {% endfor %}   
    {% endif %}
{% endwith %}
</div>
{% endmacro %}

{% macro render_aside(role=None) %}
<aside>
    <div class="aside__tools" href="#">
        <!-- <a class="aside__links">
            <img src="{{ url_for('static', filename='images/dashboard-square-add-stroke-rounded.svg') }}" alt="Dashboard Logo">
            <p>Dashboard</p>
        </a> -->
        {% if role == "seller" %}
            <a class="aside__links" href="#">
                <img src="{{ url_for('static', filename='images/sale-tag-01-stroke-rounded.svg') }}" alt="My Products Logo">
                <p>My Products</p>
            </a>
            <a class="aside__links" href="{{ url_for('seller.my_orders') }}" visit>
                <img src="{{ url_for('static', filename='images/container-truck-02-stroke-rounded.svg') }}" alt="Orders Logo">
                <p>Orders</p>
            </a>
        {% else %}
            <a class="aside__links" href="{{ url_for('user.my_orders') }}" visit>
                <img src="{{ url_for('static', filename='images/container-truck-02-stroke-rounded.svg') }}" alt="Orders Logo">
                <p>My Orders</p>
            </a>
            <a class="aside__links" href="#" visit>
                <img src="#" alt="Add Logo for wishlist diri">
                <p>My Wishlist</p>
            </a>
        {% endif %}
    </div>
    <div class="aside__account">
        <a class="aside__links">
            <img src="{{ url_for('static', filename='images/students-stroke-rounded.svg') }}" alt="College Logo">
            <p>College: {{ session['org_id'] }}</p>
        </a>
        <hr />
        <a class="aside__links">
            <img src="{{ url_for('static', filename='images/user-circle-stroke-rounded.svg') }}" alt="Profile">
            <div class="aside__account-info">
                <p class="aside__account-info-title">Account</p>
                <p class="aside__account-info-email">chriscentlouisjune.pingol@g.msuiit.edu.ph</p>
            </div>
        </a>
    </div>
  </aside>
{% endmacro %}