[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-mysql = "*"
flask-mysqldb = "*"
pymysql = "*"
python-dotenv = "*"
mysqlclient = "*"
wtforms = "*"
cloudinary = "*"
google-auth = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
