[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-mysqldb = "*"
mysqlclient = "*"
python-dotenv = "*"
wtforms = "*"
cloudinary = "*"
google-auth = "*"
google-auth-oauthlib = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]
pytest = "*"
ruff = "*"

[requires]
python_version = "3.10"
