main.products {
    display: grid;
    grid-template-columns: 260px 1fr;
  }
  
  .content {
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
  }
  
  
  .content-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .content-title {
    font-weight: bold;
    font-size: 39px;
  }
  .content-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .export-btn {
    font-weight: bold;
    border: 2px solid #DFDFDF;
    background-color: white;
  }
  .new-product-btn {
    font-weight: bold;
    color: white;
    background-color: black;
  }

  .content-tools {
    margin-bottom: 10px;
    display: flex;
    visibility: hidden;
    gap: 0.625rem;
  }
  .editBtn {
    border: 1px solid #DFDFDF;
    color: white;
    background-color: #2500EE;
  }
  .editBtn:hover {
    border: 1px solid #DFDFDF;
    color: #2500EE;
    background-color: white;
  }
  .deleteBtn {
    border: 1px solid #DFDFDF;
    color: white;
    background-color: red;
  }
  .deleteBtn:hover {
    cursor: pointer;
    color: red;
    background-color: white;
  }
  .confirmBtn {
    border: 1px solid #DFDFDF;
    color: white;
    background-color: rgb(0, 218, 4);
  }
  .confirmBtn:hover {
    cursor: pointer;
    color: rgb(0, 218, 4);
    background-color: white;
  }

  .content-searchbar {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    background-color: #F5F5F0;
  }
  .content-searchbar input {
    width: 100%;
    border: none;
    font-size: 16px;
    background-color: #F5F5F0;
  }
  .content-searchbar input:focus {
    border: 1px solid black; 
    outline: none;
  }
  
  .content-database {
    border: 1px solid #ddd; 
    border-radius: 4px;
  }
  table {
    width: 100%;
    border-spacing: 0; 
    border-collapse: separate; 
    border-radius: 4px;
    overflow: hidden; 
    background-color: white;
  }
  th, td {
    padding: 10px;
    text-align: left;
    /* border: 2px solid #ddd; */
  }
  tr:not(.highlight):hover {
    background-color: #f1f1f1; 
  }
  thead tr:first-child th:first-child {
    border-top-left-radius: 4px; 
  }
  thead tr:first-child th:last-child {
    border-top-right-radius: 4px; 
  }
  tbody tr:last-child td:first-child {
    border-bottom-left-radius: 4px; 
  }
  tbody tr:last-child td:last-child {
    border-bottom-right-radius: 4px; 
  }
  .highlight {
    color: white;
    background-color: #69aef9; 
  }