#upload-button {
  cursor: pointer;
  position: absolute;
  width: 230px;
  height: 200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 25%);
  background: #FFFFFF;
  transform: scale(1);
}
#upload-button > svg {
  width: calc(24px * 3);
  height: calc(24px * 3);
}
#upload-button > span {
  text-align: center;
  font-family: "Inter", sans-serif; 
  font-size: 1.2rem;
  line-height: 28px;
}

#delete-image-button{
  place-self: end end;
  cursor: pointer;
  position: absolute;
  width: 92px;
  height: 80px;
  margin: 3.75rem;
  display: none;
  place-content: center;
  border-radius: 20%;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 25%);
  background: red;
  z-index: 2;
}

#name {
  padding: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px
}
#price {
  padding: 5px;
  color: #2796FF;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
}
#description {
  resize: none;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  overflow-y: hidden;
}
#hook {
  padding: 5px;
  font-family: "AR One Sans", sans-serif;
  font-size: 13px;
}
#type {
  padding: 10px;
  font-size: 13px;
}
#preorder {
  padding: 10px;
  font-family: "AR One Sans", sans-serif;
  font-size: 13px;
}
#create_product {
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 4rem;
  padding: 0.75rem 1.25rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background: #29AB51;
}
#create_product:hover {
  background: #20783b;
}