@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* 
  font-family: "Inter", sans-serif; 
  font-family: "AR One Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Bebas Neue", sans-serif;
*/

main.new-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main.new-product section {
  width: 100%;
}

/* IMAGE SIDE */
/* IMAGE SIDE */
/* IMAGE SIDE */
section.new-product__image {
  position: relative;
  display: grid;
  place-items: center;
  background: #E8E8E8;
}
#previewImage {
  width: 100%;
  object-fit: cover;
  background-position: center;
}
.upload-button {
  position: absolute;
  width: 230px;
  height: 200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 25%);
  background: #FFFFFF;
}
.upload-button > svg {
  width: calc(24px * 3);
  height: calc(24px * 3);
}
.upload-button > span {
  text-align: center;
  font-family: "Inter", sans-serif; 
  font-size: 1.2rem;
  line-height: 28px;
}

/* CONTENT SIDE */
/* CONTENT SIDE */
/* CONTENT SIDE */
form.new-product__content {
  margin: 80px 80px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
}

.new-product__content-back{
  text-decoration: none;
  color: black;
  margin-bottom: 2rem;
}

.new-product__content-details-box {
  margin-top: 2rem;
  display: flex;
  gap: 30px
}
.new-product__content-details-box > p{
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
}
.new-product__content-details-box > p[selected]{
  border-bottom: 2px solid black;
}
.new-product__content-specs-box {
  margin-block: 22px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.new-product__content-specs-box > div {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}
.new-product__content-specs-box > div > p{
  font-family: "AR One Sans", sans-serif;
  font-size: 1.2rem;
}

hr {margin-bottom: 2rem;}

#name {
  padding: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px
}
#price {
  padding: 5px;
  color: #2796FF;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
}
#description {
  resize: none;
  height: 68px;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
#hook {
  padding: 5px;
  font-family: "AR One Sans", sans-serif;
  font-size: 13px;
}
#type {
  padding: 10px;
  font-size: 13px;
}

.size-selector {
  display: flex;
  gap: 10px;
}
.size-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
  background-color: white;
  transition: border-color 0.3s;
}
.size-btn.active {
  border-color: #29AB51; /* Green border on selection */
  background-color: #e8ffe8;
}

#quantity {
  padding: 10px;
  font-family: "AR One Sans", sans-serif;
  font-size: 13px;
}
#create_product {
  align-self: flex-start;
  padding: 12px 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  background: #29AB51;
}