@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400..700&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* 
  font-family: "Inter", sans-serif; 
  font-family: "AR One Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Bebas Neue", sans-serif;
*/

.input-box {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input {
  padding: 2px;
}

.absolute {
  position: absolute;
}

.content-container {
  width: 100%;
  max-width: 1000px;
  /* width: max(100%, 1000px); */
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
}

/* Aside Styles */
/* Aside Styles */
/* Aside Styles */
aside {
  width: 260px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #E0E0D7;
}

.aside__tools,
.aside__account {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.aside__links {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: black;
  overflow: hidden;

  background-color: #E0E0D7;
}

.aside__links[visit] {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: black;
  overflow: hidden;

  background-color: white;
}

.aside__links:hover {
  cursor: pointer;
  background-color: #bbbbb6;
}

.aside__account-info {
  display: flex;
  flex-direction: column;
}

.aside__account-info-title {
  color: #29AB51;
}

.aside__account-info-email {
  width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #6d7071;
}

/* Dialog */
/* Dialog */
/* Dialog */
dialog:-internal-dialog-in-top-layer::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  padding: 1rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: white;
  border-radius: 0.25rem;
  z-index: 10;
}

.confirmation-btns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.modal-texts {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
}

.cancel {
  border: 1px solid black;
  color: white;
  background: #29AB51;
}

.confirm {
  border: 1px solid black;
  color: white;
  background: red;
}

.pagination-container {
  width: 100%;
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pagination-numbers {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
}