{% extends "master_blueprint/base.html" %}

{% import "components/macros.html" as components %}

{% block head %}
  <title>Sign In</title>
{% endblock %}

{% block content %}
  <main style="
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  ">
    <div class="sign-in__google">
      <div id="g_id_onload"
        data-client_id="888454362739-8khch6t2lesrhrevs4s22h739a9ek8gh.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="handleCredentialResponse"
        data-hd="g.msuiit.edu.ph"
        data-auto_prompt="false">
      </div>
      <div class="g_id_signin"
        data-type="standard"
        data-shape="rectangular"
        data-theme="filled_blue"
        data-text="signin_with"
        data-size="large"
        data-logo_alignment="left">
      </div>
    </div>

  </main>
  <script>
    function handleCredentialResponse(response) {
      // Redirect with the credential (token) in the URL
      window.location.href = "/auth/google_callback?credential=" + response.credential;
    }
  </script>
{% endblock %}